*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.main-header{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    flex-direction: row;
    margin-left: -1vw;
    margin-right: -5vw;
    width: 100vw;
    background-color: black;
    position: fixed;
    z-index: 2;
    top: -1vw;
}
  
  
  img.logo{
      width: 20vw;
      display: block;
      margin-left: 13vw;
}
  
  .right-navbar{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    align-items: center;
    margin-right: 6vw;
}
  
  .right-navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .right-navbar a {
      text-decoration: none;
      color: white;
  }
  
  /* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    font-size: 5vw;
    border: none;
    margin-top: 7vw;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: static;
    display: inline-block;
    padding-top: 0.1vw;
    margin-left: 4vw;
    margin-top: -3vw;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    width: 30vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: white solid 1px;
    padding-bottom: white solid 1px;
    overflow: auto;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    background-color: black;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: rgb(63,53,217);
      cursor: pointer;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgb(63,53,217);
    transition: 0.5s;
  }

main{
    background-color: black;
    width: 100%;
    color: white;
    position: relative;
}

h2{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
}

h4{
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
}

section p{
    margin: 1px auto;
}

.principal-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vw;
    padding-top: 5vw;
}

.remera{
    width: 80%;
}

.pieProducto{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-evenly
}

.contenedor-secundario{
    display: flex;
    justify-content: space-around;
}

.secundario-producto{
    display: flex;
    justify-content: space-evenly;
    width: 88%;
}

.remera-secundario{
    width: 19%;
}

.detalle{
    display: flex;
    flex-direction: column;
    width: 62%;
    margin-left: 10%;
    padding-bottom: 20px;
    max-width: 229px;
    padding-top: 10px;
}

.contenedor-color{
    display: flex;
    flex-direction: column;
}

#talle{
    height: 31px;
}

#cantidad{
    width: 100%;
    height: 31px;
}

.disponible{
    margin-left: 10%;
    padding-bottom: 10px;
}

.subdisponible{
    padding-bottom: 10px;
}

.iconos-envios{
    display: flex;
    width: 300px;
    max-width: 257px;
    justify-content: space-between;
}

.agregar{
    width: 80%;
    height: 35px;
    background-color: #4755b5;
    color: white;
    border-radius: 0.3em;
}

.contenedor-agregar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    }


.pie-de-pagina{
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin-left: 10px;
}

footer {
    background-color: black;
    display: flex;
    height: 10vw;
}

.iconos{
    color: white;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 10px;
}

.pie-de-pagina-textos{
    color: white;
    text-decoration: none;
}

/* Tablet */
@media (min-width: 477px) and (max-width: 768px){
    .right-navbar {
        display: flex;
        justify-content: space-between;
        width: 24vw;
        align-items: center;
        margin-right: 3vw
    }

    .pie-de-pagina{
        display: flex;
        justify-content: space-evenly;
        width: 70vw;
        padding-top: 8px;
    }

    footer {
        background-color: black;
        display: flex;
        height: 5vw;
        margin-top: -1vw;
    }

    .iconos{
        color: white;
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        flex-direction: row;
        padding-top: 10px;
    }

}

/* Desktop */
@media (min-width: 769px){
    
    .dropbtn {
        background-color: black;
        color: white;
        font-size: 2vw;
        border: none;
        margin-top: 7vw;
    }
    
    .right-navbar {
        width: 14vw;
        margin-right: 3vw;
        max-width: 20vw
    }

    .pieProducto {
        position: relative;
        left: 17vw;
        top: 12vw;
        font-size: 24px;
        width: 75px;
    }
    
    .remera {
        width: 45%;
        position: absolute;
        right: 38vw;
        top: 16vw;
    }

    .secundario-producto {
        display: flex;
        height: 60vw;
        flex-direction: column;
        width: 89vw;
    }

    .contenedor-secundario {
        display: flex;
        justify-content: space-around;
    }

    .remera-secundario {
        width: 9vw;
        height: 11vw;
    }

    .detalle {
        position: absolute;
        bottom: 30vw;
        left: 54vw;
    }

    .agregar {
        position: absolute;
        left: 64vw;
        bottom: 21vw;
        max-width: 271px;
        min-width: 136px
    }

    .disponible {
        position: absolute;
        bottom: 11vw;
        left: 53vw;
    }
    
    .subdisponible {
        display: none;
    }

    .camion-contenedor{
        display: flex;
    }

    .reembolso-contenedor{
        display: flex;
    }

    .costo{
        margin: 1px 10px;
        margin-bottom: 2vw;
    }

    .reembolso{
        margin: 1px 10px
    }
    
    .iconos-envios {
        display: flex;
        width: 300px;
        max-width: 257px;
        flex-direction: column;
    }
    
    .fa-truck{
        font-size: 2vw;
    }

    .fa-sack-dollar{
        font-size: 2vw;
    }

    img.logo {
        width: 13vw;
        display: block;
        margin-left: 7vw;
    }

    .iconos {
        display: flex;
        color: white;
        width: 28%;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        right: 1vw;
    }

    .pie-de-pagina {
        display: flex;
        width: 35vw;
        justify-content: space-between;
        height: 3vw;
        padding-top: 10px;
    }

    footer {
        background-color: black;
        display: flex;
        height: 3vw;
    }
}