<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="stylesheet" href="/css/buscar.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <title>Document</title>
</head>
<body>
  <%- include ('../partials/navbar')%>
    <main class="main-buscar">
      <% if (encontrada.length > 0) { %>
        <ul class="ul-buscar">
          <% encontrada.forEach(producto => { %>
           <div>
            <li><a class="link-buscador" href="categorias/detalle-producto/<%= producto.id %>"><%= producto.nombre %></li></a>
            <img src="/images/productosporcategoria/<%= producto.imagen %>" alt="Imagen de producto" width="300em">
          </div>
          <% }) %>
        </ul>
      <% } else { %>
        <p>The product you're looking for doesn't exist</p>
      <% } %>
    </main>
</body>

</html>