<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/db26de78cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/editarproducto.css">
    <title>Crear Producto</title>
</head>

<header class="main-header">
    <div class="main-header-top-bar center">
        <a href="/"><img src="./images/logo-ursus.png" class="logo"></a>
    </div> 
</header> 

<body>
    <form action="/crearproducto" method="POST" enctype="multipart/form-data">
        <div class="forma">
            <label class="producto" for="nombre">Producto:</label>
            <input required="" type="text" id="nombre" name="nombre" placeholder="Ingrese un nombre" class="control">           
          </div>
        <div>
       
        <label for="imagen">Imagen</label>
        <input class="forms" type="file" id="imagen" name="imagen" accept=".jpg, .jpeg">
        </div>
        
        <div>
        <label for="categorias">Categorias</label>
        <select name="categoria" class="forma">
        <option value="remeras">Remeras</option>      
        <option value="shorts">Shorts</option>
        <option value="calzados">Calzados</option>
        <option value="vestidos">Vestidos</option>
        <option value="camisas">Camisas</option>
        <option value="anteojos">Anteojos</option>
        <option value="accesorios">Accesorios</option>
        <option value="trajes-de-baño">Trajes De Baño</option>
        </select>
        </div>
        
        <label for="talle">Talle</label>
        <select name="talle" class="forma">
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select>

        <label for="genero">Género</label>
        <select name="genero" id="genero" class="forma">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
        </select>

        <label for="color">Color</label>
        <select name="color" id="color" class="forma">
            <option value="rojo">Rojo</option>
            <option value="negro">Negro</option>
            <option value="blanco">Blanco</option>
            <option value="amarillo">Amarillo</option>
            <option value="azul">Azul</option>
        </select>
        
        <label for="cantidad">Cantidad</label>
            <input required="" type="number" id="cantidad" name="cantidad" placeholder="123" class="control">
        </select>

        <div class="forma">
            <label for="precio" class="precio" for="precio">Precio:</label>
            <input required="" type="text" id="precio" name="precio" placeholder="5678" class="control">           
        </div>

        <div class="alinearboton">
        <button type="reset" class="boton-formulario">Borrar Todo</button>
        <button type="submit" class="boton-formulario">Agregar</button>
        </div>
    </form>
</body>
</html>