<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1.0">
        <title>URSUS - Categorías</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="/css/normalize.css">       
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>  
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css"> 
        <link rel="stylesheet" href="css/categorias.css">      
    </head>
        
        <!-- Menú desplegable -->
        <%- include ('../partials/navbar')%>
       
<body>
    <section>              
        <h2 class="quienessomos">Somos un grupo de emprendedores jóvenes que pertenecen a una generación que necesita respuestas en tiempo real y una visualización inmediata y efectiva de sus búsquedas. Conocemos las necesidades de nuestro público y es por ello que apuntamos a una visualización web simple, clara, straight to the point donde podrán buscar de acuerdo a su género, categoría y oferta por temporada. Una vez que eligen su estilo de ropa se abrirá la posibilidad de buscar en la página interna de dicho estilo toda la indumentaria en esa línea categorizada por tamaño, color, precio, así como todas las funcionalidades necesarias tanto para continuar buscando productos como para dirigirse hacia el pago los mismos.
        </h2>
     </section> 
</body>

 
</html>