<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>URSUS - Categorías</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="/css/normalize.css">       
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>  
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css"> 
        <link rel="stylesheet" href="/css/productosporcategoria.css">        
    </head>

        <!-- Menú desplegable -->
        <%- include ('../partials/navbar')%>
       
<body>
    <section>
        <h4 class="vision">
            En un mundo cada vez más digital y globalizado, es fácil perder de vista lo más importante: las personas. En nuestra compañía de ropa en línea, creemos firmemente en el valor del respeto hacia los demás y en brindar la mejor atención posible a nuestros clientes.

            Nuestra visión es crear un entorno en línea donde los clientes se sientan valorados y escuchados. Sabemos que hacer compras en línea puede ser abrumador y confuso, por lo que nos esforzamos por brindar un servicio amable y eficiente a cada cliente que interactúa con nosotros.

            Además, valoramos la diversidad y creemos en un mundo donde todas las personas son tratadas con igualdad y respeto, sin importar su edad, género, raza, orientación sexual o cualquier otra diferencia. Por lo tanto, ofrecemos una amplia gama de tallas y estilos para adaptarse a las necesidades y preferencias de todos nuestros clientes.

            Nuestra misión es no solo vender ropa, sino también brindar una experiencia de compra positiva que refleje nuestros valores y filosofía de atención al cliente. No solo queremos que nuestros clientes se sientan bien con su compra, sino también con su experiencia en nuestro sitio web.

            En última instancia, queremos crear una comunidad en línea donde los clientes se sientan seguros y valorados mientras hacen compras de ropa en línea. Estamos comprometidos a cumplir con nuestra visión y brindar un servicio excepcional a cada persona que interactúa con nuestra compañía.
        </h4>
     </section>
</body>


</html>