<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/detalleProducto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <title>Productos</title>
</head>
<body>
    <header class="main-header">
        <div class="dropdown"> 
            <button class="dropbtn"><i class="fa-solid fa-bars"></button></i>
            <div class="dropdown-content">
              <a href="#">Hombres</a>
              <a href="#">Mujeres</a>
              <a href="#">Niños</a>
              <a href="#">Ofertas</a>
              <a href="#">Lo más vendido</a>
              <a href="#">Temporada</a>
            </div>
        </div>
        </div> 
        <div class="main-header-top-bar center">
            <a href="http://localhost:3032"><img src="./images/logo-ursus.png" class="logo"></a>
        </div> 
            <ul class="right-navbar">
                <li><a href="#"><i class="fa-solid fa-magnifying-glass lupita"></a></i></li>
                <li><a href="http://localhost:3032/login"><i class="fa-solid fa-user usuario-existente"></a></i></li>
                <li><a href="http://localhost:3032/productosporcategoria"><i class="fa-solid fa-cart-shopping"></a></i></li>                
            </ul>
    </header>
    <main>
        <section class="principal-producto">
                <img class="remera" src="images/detalle-producto/remera.jpg" alt="remera">
            <div class="pieProducto"> 
                <p class="nombre-remera">Remera</p>
                <p class="nombre-remera">$$$</p>
            </div>
        </section>
        <section class="contenedor-secundario">
            <div class="secundario-producto">
                <img class="remera-secundario" src="images/detalle-producto/remera.jpg" alt="remera-secundario">
                <img class="remera-secundario" src="images/detalle-producto/remera.jpg" alt="remera-secundario">
                <img class="remera-secundario" src="images/detalle-producto/remera.jpg" alt="remera-secundario">
                <img class="remera-secundario" src="images/detalle-producto/remera.jpg" alt="remera-secundario">
            </div>
        </section>
        <section class="detalle">
            <label>Talle</label>
            <select name="talle" id="talle">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
            </select>
            <form class="contenedor-color">
                <label>Color</label>
                <input type="color" name="color" id="color" placeholder="">
                <label>Cantidad</label>
            </form>    
                <select name="cantidad" id="cantidad">
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                </select>    
        </section>
        <section class="disponible">
            <p class="subdisponible">Disponible</p>
            <div class="iconos-envios">
                <div class="camion-contenedor">
                    <i class="fa-solid fa-truck"></i><p class="costo"> Costo de envíos</p>
                </div>
                <div class="reembolso-contenedor">
                    <i class="fa-solid fa-sack-dollar"></i><p class="reembolso"> Reembolsos</p>
                </div>
            </div>
        </section>
        <div class="contenedor-agregar">
        <button class="agregar" type="submit">Agregar al carrito</button>
        </div>
    </main>
    <footer class="footer"> 
        <div class="pie-de-pagina">
            <div><a class="pie-de-pagina-textos" href="#">Quienes Somos</a></div>
            <div><a class="pie-de-pagina-textos" href="#">Nuestra Visión</a></div>
            <div><a class="pie-de-pagina-textos" href="#">Nuestros Locales</a></div>
        </div>
        <div class="iconos">
            <div><i class="fa-brands fa-square-facebook"></i></div>
            <div><i class="fa-brands fa-instagram"></i></div>
            <div><i class="fa-brands fa-twitter"></i></div>
            <i class="fa-solid fa-envelope"></i>
        </div>
    </footer>
</body>
</html>