<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>URSUS - Categorías</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="/css/normalize.css">       
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>  
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css"> 
        <link rel="stylesheet" href="productosporcategoria.css">        
    </head>

    <header class="main-header">

        <!-- Menú desplegable -->
        <div class="dropdown"> 
            <button class="dropbtn"><i class="fa-solid fa-bars"></button></i>
            <div class="dropdown-content">
              <a href="#">Hombres</a>
              <a href="#">Mujeres</a>
              <a href="#">Niños</a>
              <a href="#">Ofertas</a>
              <a href="#">Lo más vendido</a>
              <a href="#">Temporada</a>
            </div>
        </div> 
       
        <div class="main-header-top-bar center">
            <a href="http://localhost:3032"><img src="./images/logo-ursus.png" class="logo"></a>
        </div> 
            <ul class="right-navbar">
                <li><a href="www.google.com"><i class="fa-solid fa-magnifying-glass lupita"></a></i></li>
                <li><a href="www.google.com"><i class="fa-solid fa-user usuario-existente"></a></i></li>
                <li><a href="www.google.com"><i class="fa-solid fa-cart-shopping"></a></i></li>                
            </ul>
    </header> 
<body>
    <section>
        <div class="enmarcado-categorias">
            <div class="categorias">
                <h2 class="remeras">Summer Light</h2>
                <p class="remeras-fixing"><a href="#"><img src="./images/productosporcategoria/remera1.png" alt="categoría-remeras"></a></p>
            </div>
            <div class="categorias">
                <h2 class="shorts">Summer Lightblue</h2>
                <p class="marco-shorts"><a href="#"><img src="./images/productosporcategoria/remera2.png" alt="categoría-remeras"></a></p>
            </div>
            <div class="categorias">
                <h2 class="calzado">Mixed</h2>
                <p class="marco-calzado"><a href="#"><img src="./images/productosporcategoria/remera3.png" alt="categoría-remeras"></a></p>
            </div>
            <div class="categorias">
                <h2 class="vestidos">Green Eastwood</h2>
                <p class="marco-vestidos"><a href="#"><img src="./images/productosporcategoria/remera4.png" alt="categoría-remeras"></a></p>
            </div>
            <div class="categorias">
                <h2 class="camisas">Rainbow</h2>
                <p class="marco-camisas"><a href="#"><img src="./images/productosporcategoria/remera5.png" alt="categoría-remeras"></a></p>
            </div>
            <div class="categorias">
                <h2 class="anteojos">The Sky</h2>
                <p class="marco-anteojos"><a href="#"><img src="./images/productosporcategoria/remera6.png" alt="categoría-remeras"></a></p>
            </div>
            <div class="categorias">
                <h2 class="accesorios">Belize</h2>
                <p class="marco-accesorios"><a href="#"><img src="./images/productosporcategoria/remera7.png" alt="categoría-remeras"></a></p>
            </div>
            <div class="categorias">
                <h2 class="trajes-de-baño">Sand Times</h2>
                <p class="marco-trajes"><a href="#"><img src="./images/productosporcategoria/remera8.png" alt="categoría-remeras"></a></p>
            </div>
        </div>
     </section>
</body>

<footer class="footer"> 
    <div class="pie-de-pagina">
        <div><a class="pie-de-pagina-textos1" href="#">Quienes Somos</a></div>
        <div><a class="pie-de-pagina-textos2" href="#">Nuestra Visión</a></div>
        <div><a class="pie-de-pagina-textos3" href="#">Nuestros Locales</a></div>
    </div>
    
    <div class="iconos">
        <div><i class="fa-brands fa-square-facebook"></i></div>
        <div><i class="fa-brands fa-instagram"></i></div>
        <div><i class="fa-brands fa-twitter"></i></div>
        <i class="fa-solid fa-envelope"></i>
    </div>
</footer>
</html>