<!-- Footer --> 

<footer class="footer"> 
    <div class="pie-de-pagina">
        <div><a class="pie-de-pagina-textos" href="#">Quienes Somos</a></div>
        <div><a class="pie-de-pagina-textos" href="#">Nuestra Visión</a></div>
        <div><a class="pie-de-pagina-textos" href="#">Nuestros Locales</a></div>
    </div>
    
    <div class="iconos">
        <div><i class="fa-brands fa-square-facebook"></i></div>
        <div><i class="fa-brands fa-instagram"></i></div>
        <div><i class="fa-brands fa-twitter"></i></div>
        <i class="fa-solid fa-envelope"></i>
    </div>
</footer>