<!-- Menú desplegable -->
<div class="dropdown"> 
    <button class="dropbtn"><i class="fa-solid fa-bars"></button></i>
    <div class="dropdown-content">
      <a href="#">Hombres</a>
      <a href="#">Mujeres</a>
      <a href="#">Niños</a>
      <a href="#">Ofertas</a>
      <a href="#">Lo más vendido</a>
      <a href="#">Temporada</a>
      <a href="/categorias">Categorías</a>
    </div>
</div> 