<head>
  <link rel="stylesheet" href="/css/navbar.css">
</head>
<!-- Menú desplegable -->
<header class="main-header">
<div class="animacion">
  <button class="dropbtn">
  <i class="fa-solid fa-bars"></button></i>
  <div class="dropdown-content">
    <a href="#">Hombres</a>
    <a href="#">Mujeres</a>
    <a href="#">Niños</a>
    <a href="#">Ofertas</a>
    <a href="#">Lo más vendido</a>
    <a href="#">Temporada</a>
    <a href="/categorias">Categorías</a>
    <% if (locals.logged && userLogged.tipoUsuario.tipo==="admin" ) { %>
      <a href="/crearProducto">Crear Producto</a>
      <% } %>
  </div>
</div>
  
<div class="cont-buscar">
    <form action="/buscar">
      <input type="text" name="search" id="query" placeholder="Search a product">
      <button class="buscar" type="submit">Go</button>
    </form>
  </div>

  <div class="cont-logo">
    <a href="/"><img src="/images/logo-ursus.png" class="logo"></a>
  </div>

  <div class="right-navbar">
    <ul class="ul-iconos">
      <% if (locals.logged){ %>
        <div class="hi">Hi <%= locals.userLogged.usuario %>
        </div>
          <a href="/profile"><img class='imgpro' src="/images/users/<%= locals.userLogged.imagenUser%>"alt="UsImg"></a>
        <li><a href="/shopping-cart"><i class="fa-solid fa-cart-shopping"></a></i></li>
        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></a></i></li>
        <% } else { %>
          <li><a href="/login"><i class="fa-solid fa-user usuario-existente"></a></i></li>
          <li><a href="/register"><i class="fa-solid fa-user-plus nuevo usuario"></a></i></li>
          <% } %>
    </ul>
  </div>
</header>