<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login de administrador</title>
    <link rel="stylesheet" href="css/admin.css">
  </head>

  <header class="main-header">
    <div class="main-header-top-bar center">
        <a href="/"><img src="/images/logo-ursus.png" class="logo"></a>
    </div> 
</header> 

  <body>
    <div class="login-container">
      <h1>Login de administrador</h1>
      <form>
        <label for="username">Nombre de usuario:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Iniciar sesión">
      </form>
    </div>
  </body>
</html>