<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/db26de78cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>


<body>
    <header class="main-header">

       <!-- Menú desplegable -->
       <%- include ('../partials/menu')%>
    
        <div class="main-header-top-bar center">
            <a href="/"><img src="./images/logo-ursus.png" class="logo"></a>
        </div> 
            <ul class="right-navbar">
                <li><a href="#"><i class="fa-solid fa-magnifying-glass lupita"></a></i></li>
                <li><a href="http://localhost:3032/login"><i class="fa-solid fa-user usuario-existente"></a></i></li>
                <li><a href="http://localhost:3032/shopping-cart"><i class="fa-solid fa-cart-shopping"></a></i></li>                
            </ul>
    </header> 


    <main>
    <div class="contenedor1">
        <div class="contenedor2">
            <h1 class="inicio-sesion">INICIAR SESION</h1>
            
            <form action="/login" method="POST">
                <div class="mail">
                    <label>CORREO ELECTRONICO</label>
                    <input class="barra-mail" type="email" name="email" placeholder="Email">
                    <% if (locals.errors && errors.email) { %>
                        <div class = "errorRegistro" style="color: red">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
                </div>
                <div class="contraseña">
                    <label>CONTRASEÑA</label>
                    <input class="barra-mail" type="password" name="password" placeholder="Contraseña">
                </div>
                <div>
                    <label for="recordar">Recordar Usuario</label>
                    <input type="checkbox" name="recordar">
                </div>
                <div class="reg-text">
                    <input type="submit" value="Ingresá"></label>
                </div>
            </form>   

            <div class="olv"><h5>¿Olvidaste tu contraseña?</h5></div>
            <div class="olv">
                <span class="todavía-pregunta">¿Todavía no tenés usuario?</span>
                <a href="http://localhost:3032/register"><h5 class="boton-registrate">Registrate</h5></a>
            </div>
        </div>
    </div>
</main>
     <!-- Footer --> 
     <%- include ('../partials/footer')%>

</body>


</html>