<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/db26de78cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/register.css">
    <title>Document</title>
</head>

<header class="main-header">

      <!-- Menú desplegable -->
      <%- include ('../partials/menu')%>
       
        <div class="main-header-top-bar center">
            <a href="http://localhost:3032"><img src="./images/logo-ursus.png" class="logo"></a>
        </div> 
            <ul class="right-navbar">
                <li><a href="www.google.com"><i class="fa-solid fa-magnifying-glass lupita"></a></i></li>
                <li><a href="http://localhost:3032/login"><i class="fa-solid fa-user usuario-existente"></a></i></li>
                <li><a href="http://localhost:3032/shopping-cart"><i class="fa-solid fa-cart-shopping"></a></i></li>                
            </ul>
</header>

<body>
    <main>
        <div class="inicio">
        <h4 class="inicio-sesion">¡Unite a nuestra comunidad! Creá tu cuenta<a class="ingresa-aca" href="http://localhost:3032/login"> ¿Ya
            tenés una? Ingresá acá </h4></a>
        </div>
   
        
        
        <div class="contenedor1">
            <div class="formularios">
                <div class="registro"><h2>REGISTRO</h2></div>
                <form action="/login" method="GET">
                    <div class="nombre">
                        <label>Nombre</label><input class="forms" type="text" placeholder="Ingrese su nombre">
                    </div>
                    <div class="email">
                        <label>Email</label><input class="forms" type="email" placeholder="Ingrese su email">
                    </div>
                    <div class="contraseña">
                        <label>Contraseña</label><input class="forms" type="password" placeholder="Ingrese su contraseña">
                    </div>
                    <div class="confirmacion-contraseña">
                        <label>Confirmar Contraseña</label><input class="forms" type="password" placeholder="Ingrese su contraseña">
                    </div>
                </form>
                <div class="boton-reg">
                   <div class="reg-text">
                       Registrate
                   </div>
                </div>
            </div>

        
    <div class="contenedor2">
        

            <div class="redes2">
                <div class="redes"><h6>Tambien podes ingresar con:</h6></div>

                 <a class="facebook" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i> Facebook</a> 

                 <a class="twitter" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i> Twitter</a>
            
                 <a class="instagram" href="https://instagram.com/"><i class="fa-brands fa-instagram"></i> Instagram</a>
            </div>

        </div>
         </div>
        </div>
    </main>

     <!-- Footer --> 
     <%- include ('../partials/footer')%>
    
</body>
</html>