* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-family: "Roboto", sans-serif;
  background-color: black;
  display: flex;
}

.main-buscar {
  display: flex;
  margin-top: 19%;
  margin-left: 3%;
}

.ul-buscar {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

p {
  color: white;
}

.link-buscador {
  color: white;
}

.ul-buscar div {
  display: grid;
    justify-items: center;
}


@media (min-width:1024px) {
  input#query {
    width: 240px;
    height: 2vw;
  }

  button.buscar{
    height: 2vw;
    padding: 0.4vw;
  }

  .ul-buscar {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: -4vw;
  }
}