*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
}

.main-buscar{
    display: flex;
    margin-top: 10%;
}

.ul-buscar {
    color: white
}

p{
    color: white;
}

.link-buscador{
    color: white;
}