*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

a{
  color: white;
  text-decoration: none;
}

section{
    width: 70%;
    margin-left: 15vw;
    margin-top: 4vw;
}

h2{
    color: white;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.remeras {    
    margin-bottom: 19vw;
}

h2.remeras{
    margin-top: 23vw;
}


/* Footer CSS */

footer {
  display: flex;
  margin-top: 3vw;
  margin-left: -5vw;
}
  
  .footer a {
    color: white;
    display: flex;
    text-decoration: none;
  }

  .pie-de-pagina{
      display: flex;
      margin-left: 7vw;
      font-size: 3vw;
  }
  
  .pie-de-pagina-textos {
    display: flex;
    margin-left: 9vw;
    font-size: 3vw;
  }
  
  .iconos {   
    display: flex;
    color: white;
    align-items: center;
    margin-right: 7vw;  
  }
  
  footer i {
    padding-left: 1em;
  }
  
  .fa-square-facebook, .fa-instagram, .fa-twitter{
    margin-right: -3vw;
  }
  
  .fa-envelope{
    margin-right: 5vw;
  }

  .fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
  }

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}
  
  /*/////////////////////////////////////FIN FOOTER////////////////////////////////////////////////////////*/

  /* ////////////////////////////////////Media Queries//////////////////////////////////////////////////////////////// */

 @media (min-width:477px) and (max-width:768px){

  footer {
    display: flex;
    margin-top: 3vw;
    margin-left: 5vw;
  }
  
  .pie-de-pagina{
    font-size: 3vw;
    margin-left: 12vw;
  }

  a.pie-de-pagina-textos1, a.pie-de-pagina-textos2{
    margin-right: 0vw;
  }

  a.pie-de-pagina-textos3{
    margin-left: 0vw;
  }
  
  .iconos{
    font-size: 3vw;
    margin-right: 3vw;
  }
  footer.footer {
    display: flex;
    margin-top: 3vw;
    margin-left: -10vw;
  }
  .fa-square-facebook, .fa-instagram, .fa-twitter{
   margin-right: -1vw;
 }
 
 .fa-square-facebook:hover{
  cursor: pointer;
  color: blue;
  transform: scale(1.2);
}

.fa-instagram:hover{
cursor: pointer;
color: violet;
transform: scale(1.2);
}

.fa-twitter:hover{
cursor: pointer;
color: rgb(12, 202, 208);
transform: scale(1.2);
}

.fa-envelope:hover{
cursor: pointer;
color: white;
transform: scale(1.2);
}
 
.fa-brands:hover,.fa-envelope:hover, .pie-de-pagina-textos1:hover, .pie-de-pagina-textos2:hover, .pie-de-pagina-textos3:hover{
  cursor: pointer;
}

}

@media (min-width:769px) and (max-width: 1031px) {

  section {
    margin-top: -1vw;
    margin-left: 17vw;
  }

 .remeras{
   font-size: 3vw;
  }

  footer.footer {
    display: flex;
    margin-top: 3vw;
    margin-left: -5vw;
  }

 .pie-de-pagina{
   display: flex;
   margin-left: 5vw;
   font-size: 3vw;
  }

 .pie-de-pagina-textos{
   margin-right: 3vw;
  }

  a.pie-de-pagina-textos{
    font-size: 0.75em;
  }

  .pie-de-pagina-textos1{
    font-size: 2vw;
    margin-left: -7vw; 
  }

  .pie-de-pagina-textos2, .pie-de-pagina-textos3{
    font-size: 2vw;
    margin-left: 2vw;
  }

 .fa-square-facebook, .fa-instagram, .fa-twitter{
   margin-right: 0vw;
  }
 
 .fa-envelope{
   margin-right: 0vw;
  }

  .iconos{
    font-size: 2vw;
    margin-left: 8vw;
  }

.fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
  }

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}


.fa-brands:hover,.fa-envelope:hover, .pie-de-pagina-textos1:hover, .pie-de-pagina-textos2:hover, .pie-de-pagina-textos3:hover{
  cursor: pointer;
}

}

@media (min-width:1031px){
  section {
    width: 70%;
    margin-left: 11vw;
    margin-top: 4vw;
  }

  h2{
    color: white;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .categorias {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 3vw;
    margin-left: 3vw;
  }

  footer {
    display: flex;
    margin-top: 3vw;
    margin-left: -5vw;
  }
  
  .pie-de-pagina{
      display: flex;
      margin-left: 2vw;
      font-size: 1vw;
  }
  
  .pie-de-pagina-textos{
      margin-right: 3vw;
  }
  
  .pie-de-pagina-textos1{
    font-size: 1vw;
    margin-left: -7vw; 
  }

  a.pie-de-pagina-textos{
    font-size: 2em;
  }
  
  .pie-de-pagina-textos2, .pie-de-pagina-textos3{
    font-size: 1vw;
    margin-left: 2vw;
  }
  
  .fa-square-facebook, .fa-instagram, .fa-twitter{
    margin-right: 0vw;
  }

  .fa-square-facebook:hover{
      cursor: pointer;
      color: blue;
      transform: scale(1.2);
  }

  .fa-instagram:hover{
    cursor: pointer;
    color: violet;
    transform: scale(1.2);
  }

  .fa-twitter:hover{
    cursor: pointer;
    color: rgb(12, 202, 208);
    transform: scale(1.2);
  }

  .fa-envelope:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.2);
  }
    
  .fa-envelope{
    margin-right: 0vw;
  }

  .iconos {
    font-size: 1.5vw;
    margin-left: 29vw;
  }

}
