*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    flex-direction: column;
  }

.col-md-3{
    display: flex;
}

img.imagen-usuario {
  max-width: 30em;
}

.row{
  margin-top: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-email {
    font-size: 3vw;
    color: white;
}
.boton-negro{
  background-color: rgb(63,53,217);
  color:white;
  border-radius: 5px;
}
.container {
 
}
.swiper {
  width: 90%;
  height: auto;
  top: 19vw;
  left: 0.5vw;
}

.container .swipper-wrapper img {
  width:640px;
  height:360px;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev{
  left: 2px;
  top: 100px;
  color: white;
}

.swiper-button-next{
  right: 2px;
  top: 100px;
  color: white;
}
/* centralizando al logo */


/* imagen del navbar */


.swiper .swiper-pagination-bullet-active {
  background-color: white;
}


h3{
  color: white;
  text-align: center;
  padding-top: 17vw;
}

.primavera-titulo{
  padding-top: 22vw;
}

/*/////////////////////////////////////FOOTER////////////////////////////////////////////////////////*/

/* Footer CSS */

footer {  
  display: flex;
  margin-top: 24vw;
  margin-bottom: 3vw;

}

.footer a {
  color: white;
  display: flex;
  text-decoration: none;
}

.pie-de-pagina {
  display: flex;
  margin-left: 6vw;
}

div.pie-de-pagina {
    display: flex;
    margin-left: 8vw;
    font-size: 4vw;
}

.iconos {
  display: flex;
  color: white;
  align-items: center;
  font-size: 3vw;
}

div.iconos{
    display: flex;
    color: white;
    font-size: 4vw;
    margin-right: -22vw;
    margin-top: 3vw;
}

footer i {
  padding-left: 1em;
}

.fa-square-facebook, .fa-instagram, .fa-twitter{
  margin-right: 0;
}

.fa-envelope{
  margin-right: 5vw;
}

.fa-square-facebook:hover{
  cursor: pointer;
  color: blue;
  transform: scale(1.2);
}

.fa-instagram:hover{
cursor: pointer;
color: violet;
transform: scale(1.2);
}

.fa-twitter:hover{
cursor: pointer;
color: rgb(12, 202, 208);
transform: scale(1.2);
}

.fa-envelope:hover{
cursor: pointer;
color: white;
transform: scale(1.2);
}

/*/////////////////////////////////////FIN FOOTER////////////////////////////////////////////////////////*/

.fa-brands:hover,.fa-envelope:hover, .pie-de-pagina-textos:hover{
  cursor: pointer;
} 
 
 /* ////////////////////////////////////Media Queries//////////////////////////////////////////////////////////////// */

 @media (min-width:477px) and (max-width:767px){
   .pie-de-pagina{
     font-size: 3vw;
   }

   .pie-de-pagina-textos{
     margin-right: 8vw;
   }

   .fa-square-facebook, .fa-instagram, .fa-twitter{
    padding: 2vw;
    margin-right: 0vw;
  }

  .fa-envelope {
    margin-right: -7vw;
    }



  .fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
  }

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

  .primavera-titulo{
    font-size: 4vw;
    padding-top: 21vw;
  }

  .masvisitados-titulo, .oferta-titulo{
    font-size: 4vw;
  }

    div.pie-de-pagina {
        display: flex;
        margin-left: 2vw;
        font-size: 2vw;
        margin-top: 2vw;
    }

    div.iconos{
        display: flex;
        color: white;
        align-items: center;
        font-size: 3vw;
        padding: 0;
        margin-left: 12vw;
        }
 }

 @media (min-width:768px) and (max-width:1023px) {
  .primavera-titulo{
    font-size: 4vw;
    padding-top: 17vw;
  }

  .masvisitados-titulo, .oferta-titulo{
    font-size: 4vw;
    margin-top: 0vw;
  }

  i.fa-solid.fa-user.usuario-existente {
    margin-left: -5vw;
    font-size: 3vw;
    }

    i.fa-solid.fa-cart-shopping {
        margin-left: -4vw;
        font-size: 3vw;
    }

    i.fa-solid.fa-right-from-bracket {
        margin-left: -3vw;
        font-size: 3vw;
    }

  section{
    width: 90%;
    margin-left: 5vw;
  }

  .swiper-button-prev{
    left: 2px;
    margin-top: 10vw;
    color: white;
  }
  
  .swiper-button-next{
    right: 2px;
    margin-top: 10vw;
    color: white;
  }

  .container{
  
  }

  .footer {
    display: flex;
    margin-top: 24vw;
    margin-left: 5vw;
    margin-bottom: 3vw;
    }
  
  .pie-de-pagina{
     display: flex;
     margin-left: 13vw;
     font-size: 2vw;
  }
  
  .pie-de-pagina-textos{
     margin-right: 3vw;
  }
  
  .pie-de-pagina-textos1{
    font-size: 2vw;
    margin-left: -7vw; 
  }
  
  .pie-de-pagina-textos2, .pie-de-pagina-textos3{
    font-size: 2vw;
    margin-left: 2vw;
  }
  
  .fa-square-facebook, .fa-instagram, .fa-twitter{
    margin-right: 0vw;
  }
   
  .fa-envelope{
    margin-right: 0vw;
  }

  .iconos{
   font-size: 2vw;
   margin-left: -2vw;
  }

  div.iconos {
    font-size: 2vw;
    margin-left: 29vw;
}

  .fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
  }

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

    footer.footer{
        margin-top: 78vw;
    }

    div.iconos {
        font-size: 4vw;
        margin-left: 29vw;
    }
}

@media (min-width:1024px){

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    width: 30vw;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    border: white solid 1px;
    padding-bottom: white solid 1px;
    overflow: auto;
    top: 68px;
    left: -41px;
  }

  div.row{
    margin-top: 14em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2{
    color:white;
    font-size: 1vw;
  }

  img.imagen-usuario {
    max-width: 15em;
  }

  .user-email {
    font-size: 1vw;
    color: white;
  }

  button.boton-negro {
    background-color: rgb(63,53,217);
    color: white;
    border-radius: 5px;
    position: relative;
    left: 82vw;
    height: 35px;
    width: 120px;
    top: -10vw;
  }
  
  .primavera-titulo{
    font-size: 2.5vw;
    padding-top: 15vw;
    margin-left: 3vw;
  }

  .masvisitados-titulo, .oferta-titulo{
    font-size: 2.5vw;
    margin-top: 0vw;
  }

  section{
    width: 70%;
    margin-left: 12vw;
  }

  .swiper-button-prev{
    left: 2px;
    margin-top: 10vw;
    color: white;
  }
  
  .swiper-button-next{
    right: 2px;
    margin-top: 10vw;
    color: white;
  }

  .footer {
    display: flex;
    margin-top: 24vw;
    margin-left: 12vw;
    margin-bottom: 3vw;
    }

  .pie-de-pagina{
     display: flex;
     margin-left: 12vw;
     font-size: 1vw;
  }

  div.pie-de-pagina {
    display: flex;
    margin-left: -2vw;
    font-size: 1vw;
    margin-top: 3vw;
  }
  
  .pie-de-pagina-textos{
     margin-right: 3vw;
  }
  
  .pie-de-pagina-textos1{
    font-size: 2vw;
    margin-left: -7vw; 
  }
  
  .pie-de-pagina-textos2, .pie-de-pagina-textos3{
    font-size: 2vw;
    margin-left: 2vw;
  }
  
  .fa-square-facebook, .fa-instagram, .fa-twitter{
    margin-right: 0vw;
  }
   
  .fa-envelope{
    margin-right: 0vw;
  }

  .fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
  }

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.iconos{
 font-size: 1vw;
 margin-left: 12vw;
}

div.iconos {
    font-size: 1vw;
    margin-left: 42vw;
}

/* Editar Perfil */

.boton-negro{
	background-color: rgb(63,53,217);
  color:white;
  border-radius: 5px;
  position: relative;
  left: 183px;
  height: 35px;
  width: 120px;
}

.boton-negro:hover{
  cursor: pointer;}

}