*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
  }

/*/////////////////////////////// HEADER URSUS ARRANCA ACA//////////////////////////*/

     i.fa-solid.fa-user.usuario-existente {
      margin-left: 11vw;
    }
  
  .right-navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .right-navbar a {
      text-decoration: none;
      color: white;
  }

main {
    text-align: center;
    height: 462px;
    display: block;
    justify-content: space-evenly;
    margin-bottom: 11vw;
    flex-direction: column;
    color: rgb(230,230,230);
}

.inicio{
    display: flex;
    flex-direction: row;
    margin-top: 18vw;
    margin-bottom: 12vw;
    justify-content: center;
    
}

.reg-text{
  margin-top: 1.8vw;
}

.inicio-sesion{
  font-size: 5vw;
  margin-top: 9vw;
  width: 82%;
}

.ingresa-aca{
  padding: 1vw;
}

.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vw;
    margin-bottom: 8vw;
}


.contenedor1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;        
}

.nombre{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    border-radius: 7px;
}
.email{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    border-radius: 7px;
}
.contraseña{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    border-radius: 7px;
}
.confirmacion-contraseña{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    border-radius: 7px;
}

.label-repassword{
  display: flex;
  flex-direction: column;
}

.forms{
    width: 32vh;
    height: 9vw;
    border-radius: 7px;
}

.boton-reg{
    background: rgb(63, 83, 217);
    width: 99%;
    height: 4vh;
    margin-bottom: 9vw;
    display: block;
    border-radius: 7px;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 3vw;
}
.redes2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 3vw;
    border-radius: 5px;
}

.fa-square-facebook, .fa-instagram, .fa-twitter {
    margin-right: 1vw;
}

.facebook{
    border: none;
    background-color: blue;
    color: rgb(230, 230, 230);
    width: 25vh;
    margin-bottom: 3vw;
    border-radius: 38px;
    text-decoration: none;
}
.twitter{
    border: none;
    background-color: rgb(47, 137, 206);
    color: rgb(230, 230, 230);
    width: 25vh;
    margin-bottom: 3vw;
    border-radius: 38px;
    text-decoration: none;
}
.instagram{
    border: none;
    background-color: rgb(170, 0, 255);
    color: rgb(230, 230, 230);
    width: 25vh;
    margin-bottom: 3vw;
    border-radius: 38px;
    text-decoration: none;
}



/*/////////////////////////////////////////////////// Footer CSS ////////////////////*/

footer {
    display: flex;
    margin-top: 80vw;
    margin-left: 4vw;
    font-size: 120%;
  }
  
  .footer a {
    color: white;
    display: flex;
    text-decoration: none;
  }

  .pie-de-pagina{
      display: flex;
      margin-left: 2vw;
      font-size: 3vw;
  }
  
  .pie-de-pagina-textos {
    display: flex;
    margin-left: 9vw;
    font-size: 3vw;
  }
  
  .iconos {   
    display: flex;
    color: white;
    align-items: center;
    margin-right: 5vw;
    font-size: 3vw;
  }
  
  footer i {
    padding-left: 1em;
  }
  
  .fa-square-facebook, .fa-instagram, .fa-twitter{
    margin-right: 1vw;
  }
  
  .fa-envelope{
    margin-right: 5vw;
  }

  .fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
  }

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}
  
  /*/////////////////////////////////////FIN FOOTER////////////////////////////////////////////////////////*/






/*/////////////////////////////////////////////ACA EMPIEZA TABLET///////////////////////////////////////*/



@media (min-width:477px) and (max-width:768px) {
body{
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: rgb(230, 230, 230);
}

section{
  display: flex;
  margin: auto;
}

.encabezado{
  display: flex;
}

.logos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoizq{
  width: 22%;
}

main {
  text-align: center;
  height: 462px;
  display: block;
  justify-content: space-evenly;
  margin-bottom: 11vw;
  flex-direction: column;
  color: rgb(230,230,230);
}

.inicio{
  display: flex;
  flex-direction: row;
  margin-top: 17vw;
  margin-bottom: 12vw;
  justify-content: center;
}

.inicio-sesion{
font-size: 5vw;
margin-top: 9vw;
width: 86%;
}

.registro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vw;
  margin-bottom: 8vw
}

.contenedor1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -9vw;
}

.reg-text {
  margin-top: 1.3vw;
}

.nombre{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  border-radius: 7px
}
.email{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  border-radius: 7px
}
.contraseña{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  border-radius: 7px
}
.confirmacion-contraseña{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  border-radius: 7px
}

.forms{
  width: 32vh;
  height: 6vw;
}

.boton-reg{
  background: rgb(63, 83, 217);
  width: 100%;
  height: 4vh;
  margin-bottom: 9vw;
  display: block;
}

.redes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3vw;
  margin-bottom: 3vw;
  font-size: 3vw;
}
.redes2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  margin-bottom: 3vw;
  border-radius: 5px;
}
.fa-square-facebook, .fa-instagram, .fa-twitter {
  margin-right: 1vw;
  text-decoration: none;
}
.facebook{
  border: none;
  background-color: blue;
  color: rgb(230, 230, 230);
  width: 25vh;
  margin-bottom: 3vw;
  border-radius: 38px;
  padding: 5px;
}
.twitter{
  border: none;
  background-color: rgb(47, 137, 206);
  color: rgb(230, 230, 230);
  width: 25vh;
  margin-bottom: 3vw;
  border-radius: 38px;
  padding: 5px;
}

.instagram{
  border: none;
  background-color: rgb(170, 0, 255);
  color: rgb(230, 230, 230);
  width: 25vh;
  border-radius: 38px;
  padding: 5px;
}

.footer {
  display: flex;
  margin-top: 95vw;
  margin-left: 6vw;
  margin-bottom: 3vw;
  }

  .pie-de-pagina{
    display: flex;
    margin-left: 5vw;
    font-size: 3vw;
  }

  .pie-de-pagina-textos{
    margin-right: 3vw;
  }

  .pie-de-pagina-textos1{
    font-size: 2vw;
    margin-left: -7vw; 
  }

  .pie-de-pagina-textos2, .pie-de-pagina-textos3{
    font-size: 2vw;
    margin-left: 2vw;
  }

  .fa-square-facebook, .fa-instagram, .fa-twitter{
    margin-right: 0vw;
  }
  
  .fa-envelope{
    margin-right: 0vw;
  }

  .iconos{
  font-size: 2vw;
  margin-left: 27vw;
  }

  .fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
  }

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}


  .enmarcado-categorias{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: -15vw;
  }

  .categorias{
    width: 45%;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 3vw;
    margin-left: 3vw;
  }

  .remeras-fixing:hover, .marco-shorts:hover, .marco-calzado:hover, .marco-vestidos:hover, .marco-camisas:hover, .marco-anteojos:hover,
  .marco-accesorios:hover, .marco-trajes:hover{
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transform: scale(1.2);
    transition: 2s;
  }

  .fa-brands:hover,.fa-envelope:hover, .pie-de-pagina-textos1:hover, .pie-de-pagina-textos2:hover, .pie-de-pagina-textos3:hover{
    cursor: pointer;
  } 

}

/*////////////////////////////////////////////////ACA EMPIEZA DESKTOP/////////////////////////////// */

@media (min-width:769px) and (max-width: 1023px) {

li{
  margin-left: -2vw;
}

main {
  text-align: center;
  display: block;
  justify-content: space-evenly;
  margin-bottom: 11vw;
  flex-direction: column;
  color: rgb(230,230,230);
  margin-left: 9vw;
}

.inicio {
  display: flex;
  flex-direction: row;
  margin-top: 14vw;
  margin-bottom: 2vw;
  justify-content: center;
  margin-left: 9vw;
}

.inicio-sesion{
  font-size: 2vw;
  margin-top: 9vw;
  width: 72%;
}

h2{
  width: 89%;
font-size: 2vw;
}

.registro{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 6vw;
  margin-bottom: 8vw;
  margin-right: 16vw;
  justify-content: flex-start;
  font-size: 24px;

}

.contenedor1{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

label{
  text-align: center;
  margin-left: -13vw;
}

.formularios{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 4vw;
}
.nombre{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  font-size: 2vw;
}
.email{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  font-size: 2vw;
}
.contraseña{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  font-size: 2vw;
}
.confirmacion-contraseña{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  font-size: 2vw;
}

.forms{
width: 36vh;
height: 4vw;
border-radius: 2vw;
margin-right: 13vw;
font-size: 1.2vw;
text-align: center;
}

.boton-reg{
background: rgb(63, 83, 217);
width: 54%;
height: 4vh;
/* margin-bottom: 0vw; */
display: flex;
margin-top: 3vh;
margin-right: 9vw;
border-radius: 16px;
font-size: 2vw;
justify-content: center;
}

.reg-text{
  margin-top: 1.8vw;
  font-size: 2vw;
}

.contenedor2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 14vw;
  font-size: 2vw;
}
.redes2{
  display: flex;
  margin-top: 10vw;
  margin-bottom: 19vw;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
}

.fa-square-facebook, .fa-instagram, .fa-twitter {
  margin-right: 1vw;
  text-decoration: none;
}
          
.facebook{
  border: none;
  background-color: blue;
  color: rgb(230, 230, 230);
  width: 25vh;
  margin-bottom: 3vw;
  padding: 1vw;
  border-radius: 38px;
  text-decoration: none;
}
.twitter{
  border: none;
  background-color: rgb(47, 137, 206);
  color: rgb(230, 230, 230);
  width: 25vh;
  margin-bottom: 3vw;
  padding: 1vw;
  border-radius: 38px;
  text-decoration: none;
}
.instagram{
  border: none;
  background-color: rgb(170, 0, 255);
  color: rgb(230, 230, 230);
  width: 25vh;
  margin-bottom: 3vw;
  padding: 1vw;
  border-radius: 38px;
  text-decoration: none;
}

.footer {
  display: flex;
  margin-top: 48vw;
  margin-left: 20vw;
  margin-bottom: 3vw;
}

.footer a {
  color: white;
  display: flex;
  text-decoration: none;
  font-size: 1.5vw;
}

.pie-de-pagina{
    display: flex;
    margin-left: -2vw;
    font-size: 1vw;
}

.pie-de-pagina-textos{
    margin-right: 3vw;
}

.pie-de-pagina-textos1{
  font-size: 1vw;
  margin-left: -7vw; 
}

.pie-de-pagina-textos2, .pie-de-pagina-textos3{
  font-size: 1vw;
  margin-left: 2vw;
}

.fa-square-facebook, .fa-instagram, .fa-twitter{
  margin-right: 0vw;
}

.fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
}

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}
  
.fa-envelope{
  margin-right: 0vw;
}

.iconos{
  font-size: 1vw;
  margin-left: 66vw;
}
}

/*////////////////////// MEDIDAS MAX/////////////////////*/

@media (min-width:1023px){

  .boton-reg {
    background: rgb(63, 83, 217);
    width: 54%;
    height: 8vh;
    /* margin-bottom: 0vw; */
    display: flex;
    margin-top: 3vh;
    margin-right: -4vh;
    border-radius: 3vw;
    font-size: 2vw;
    justify-content: center;
  }
  
  .reg-text {
    margin-top: 1vw;
  }

  .nombre {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    font-size: 2vw;
    margin-top: -9vw;
  }

  .email, .contraseña, .confirmacion-contraseña{
    font-size: 2vw;
  }

  h2 {
    width: 96%;
    padding: 5vw;
  }

  .inicio{
    display: flex;
    flex-direction: row;
    margin-top: 10vw;
    margin-bottom: 2vw;
    justify-content: center;
  }

  .inicio-sesion {
    font-size: 3vw;
    margin-top: 9vw;
    width: 82%;
  }

  .contenedor2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 7vw;
    margin-top: 6vw;
    font-size: 2vw;
    padding: 5vw;
  }

  h2{
    font-size: 2.5vw;
  }

  .formularios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 43vw;
  }

  .forms {
    width: 54vh;
    height: 4vw;
    border-radius: 7px;
  }

  .contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: -47vw;
    margin-top: -58vw;
    font-size: 2vw;
    padding: 5vw;
  }

  .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 3vw;
    font-size: 3.5vw;
  }

  .facebook{
    border: none;
    background-color: blue;
    color: rgb(230, 230, 230);
    width: 36vh;
    margin-bottom: 3vw;
    border-radius: 3vw;
    font-size: 2.4vw;

}
.twitter{
    border: none;
    background-color: rgb(47, 137, 206);
    color: rgb(230, 230, 230);
    width: 36vh;
    margin-bottom: 3vw;
    border-radius: 3vw;
    font-size: 2.4vw;
}
.instagram{
    border: none;
    background-color: rgb(170, 0, 255);
    color: rgb(230, 230, 230);
    width: 36vh;
    margin-bottom: 3vw;
    border-radius: 3vw;
    font-size: 2.4vw;
  }

  .footer {
    display: flex;
    margin-top: 80vw;
    margin-left: 12vw;
    margin-bottom: 3vw;
    }
  
  .pie-de-pagina{
     display: flex;
     margin-left: -2vw;
     font-size: 1vw;
  }
  
  .pie-de-pagina-textos{
     margin-right: 3vw;
  }
  
  .pie-de-pagina-textos1{
    font-size: 1vw;
    margin-left: -7vw; 
  }
  
  .pie-de-pagina-textos2, .pie-de-pagina-textos3{
    font-size: 1vw;
    margin-left: 2vw;
  }
  
  .fa-square-facebook, .fa-instagram, .fa-twitter{
    margin-right: 0vw;
  }

  .fa-square-facebook:hover{
      cursor: pointer;
      color: blue;
      transform: scale(1.2);
  }

  .fa-instagram:hover{
    cursor: pointer;
    color: violet;
    transform: scale(1.2);
  }

  .fa-twitter:hover{
    cursor: pointer;
    color: rgb(12, 202, 208);
    transform: scale(1.2);
  }

  .fa-envelope:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.2);
  }
   
  .fa-envelope{
    margin-right: 0vw;
  }

  .iconos{
   font-size: 1vw;
   margin-left: 66vw;
  }

}