*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8vw;
  margin-top: -17vw;
  margin-left: 0vw;
}

.swiper {
  width: 90%;
  height: auto;
  top: 19vw;
  left: 0.5vw;
}

.container .swipper-wrapper img {
  width:640px;
  height:360px;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev{
  left: 2px;
  top: 100px;
  color: white;
}

.swiper-button-next{
  right: 2px;
  top: 100px;
  color: white;
}

.swiper .swiper-pagination-bullet-active {
  background-color: white;
}


h3{
  color: white;
  text-align: center;
  padding-top: 17vw;
}

.primavera-titulo{
  padding-top: 22vw;
}
/* //////////////////////////////SLIDER NUMERO 1 FIN  //////////////////////////////*/

/*Carrousel del medio*/

p {
  color: white;
}

.carrousel {
  width: 90%;
  margin-left: 5vw;
  height: auto;
  margin-top: 2vw;
  margin-bottom: -13vw;
}

.carrousel__contenedor {
  position: relative;
}

.carrousel__anterior, .carrousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background-color: black;
  color: white;
  opacity: 20%;
}

.carrousel__anterior {
  left: -30px;
}

.carrousel__siguiente {
  right: -30px;
}

.carrousel__lista {
  overflow: hidden;
}


h1{
color: white;
}

.carrousel__elemento{
text-align: center;
}

.carrousel__anterior:hover, .carrousel__siguiente:hover{
opacity: 100%;

}

.carrousel__indicadores .glider-dot {
display: block;
width: 30px;
height: 4px;
background: white; 
opacity: 0.2;
border-radius: 0;
}

.carrousel__indicadores .glider-dot:hover{
opacity: 0.5;
}

.carrousel__indicadores .glider-dot.active{
opacity: 1;
}
/* ///////////////////////////////////// FIN CARROUSEL DEL MEDIO //////////////////////////////////// */

/*/////////////////////////////////////FOOTER////////////////////////////////////////////////////////*/

/* Footer CSS */

/* footer {  
  display: flex;
  margin-top: 24vw;
  margin-bottom: 3vw;

}

.footer a {
  color: white;
  display: flex;
  text-decoration: none;
}

.pie-de-pagina {
  display: flex;
  margin-left: 6vw;
}

.iconos {
  display: flex;
  color: white;
  align-items: center;
  font-size: 3vw;

}

footer i {
  padding-left: 1em;
}

.fa-square-facebook, .fa-instagram, .fa-twitter{
  margin-right: 0;
}

.fa-envelope{
  margin-right: 5vw;
}

.fa-square-facebook:hover{
  cursor: pointer;
  color: blue;
  transform: scale(1.2);
}

.fa-instagram:hover{
cursor: pointer;
color: violet;
transform: scale(1.2);
}

.fa-twitter:hover{
cursor: pointer;
color: rgb(12, 202, 208);
transform: scale(1.2);
}

.fa-envelope:hover{
cursor: pointer;
color: white;
transform: scale(1.2);
} */

/*/////////////////////////////////////FIN FOOTER////////////////////////////////////////////////////////*/

 
 /* ////////////////////////////////////Media Queries//////////////////////////////////////////////////////////////// */

 /* @media (min-width:477px) and (max-width:768px){
   .pie-de-pagina{
     font-size: 3vw;
   }

   .pie-de-pagina-textos{
     margin-right: 8vw;
   }

   .fa-square-facebook, .fa-instagram, .fa-twitter{
    margin-right: 1vw;
  }

  .fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
  }

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

  .primavera-titulo{
    font-size: 4vw;
    padding-top: 21vw;
  }

  .masvisitados-titulo, .oferta-titulo{
    font-size: 4vw;
  }

 } */

 @media (min-width:769px) and (max-width:1023px) {
  .primavera-titulo{
    font-size: 4vw;
    padding-top: 17vw;
  }

  .masvisitados-titulo, .oferta-titulo{
    font-size: 4vw;
    margin-top: 0vw;
  }

  section{
    width: 90%;
    margin-left: 5vw;
  }

  .swiper-button-prev{
    left: 2px;
    margin-top: 10vw;
    color: white;
  }
  
  .swiper-button-next{
    right: 2px;
    margin-top: 10vw;
    color: white;
  }

  .container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vw;
    margin-top: -17vw;
    margin-left: 9vw;
  }

  /* .footer {
    display: flex;
    margin-top: 24vw;
    margin-left: 5vw;
    margin-bottom: 3vw;
    }
  
  .pie-de-pagina{
     display: flex;
     margin-left: 13vw;
     font-size: 2vw;
  }
  
  .pie-de-pagina-textos{
     margin-right: 3vw;
  }
  
  .pie-de-pagina-textos1{
    font-size: 2vw;
    margin-left: -7vw; 
  }
  
  .pie-de-pagina-textos2, .pie-de-pagina-textos3{
    font-size: 2vw;
    margin-left: 2vw;
  }
  
  .fa-square-facebook, .fa-instagram, .fa-twitter{
    margin-right: 0vw;
  }
   
  .fa-envelope{
    margin-right: 0vw;
  }

  .iconos{
   font-size: 2vw;
   margin-left: -2vw;
  }

  .fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
  }

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

} */

@media (min-width:1024px){

  .primavera-titulo {
    padding-top: 10vw;
  }

  div.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    width: 30vw;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    border: white solid 1px;
    padding-bottom: white solid 1px;
    overflow: auto;
    top: 68px;
    left: -41px;
  }

  img {
    max-width: 100%;
    height: auto;
    border-style: none;
  }
  
  .primavera-titulo{
    font-size: 2.5vw;
    margin-left: 3vw;
  }

  .masvisitados-titulo, .oferta-titulo{
    font-size: 2.5vw;
    margin-top: 0vw;
  }


  section{
    width: 70%;
    margin-left: 12vw;
  }

  .swiper-button-prev{
    left: 2px;
    margin-top: 10vw;
    color: white;
  }
  
  .swiper-button-next{
    right: 2px;
    margin-top: 10vw;
    color: white;
  }

  .container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vw;
    margin-top: -17vw;
    margin-left: 9vw;
  }

  /* .footer {
    display: flex;
    margin-top: 24vw;
    margin-left: 12vw;
    margin-bottom: 3vw;
    }
  
  .pie-de-pagina{
     display: flex;
     margin-left: 12vw;
     font-size: 1vw;
  }
  
  .pie-de-pagina-textos{
     margin-right: 3vw;
  }
  
  .pie-de-pagina-textos1{
    font-size: 2vw;
    margin-left: -7vw; 
  }
  
  .pie-de-pagina-textos2, .pie-de-pagina-textos3{
    font-size: 2vw;
    margin-left: 2vw;
  }
  
  .fa-square-facebook, .fa-instagram, .fa-twitter{
    margin-right: 0vw;
  }
   
  .fa-envelope{
    margin-right: 0vw;
  }

  .fa-square-facebook:hover{
    cursor: pointer;
    color: blue;
    transform: scale(1.2);
  }

.fa-instagram:hover{
  cursor: pointer;
  color: violet;
  transform: scale(1.2);
}

.fa-twitter:hover{
  cursor: pointer;
  color: rgb(12, 202, 208);
  transform: scale(1.2);
}

.fa-envelope:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.iconos{
 font-size: 1vw;
 margin-left: 12vw;
} */

}
}